/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Sticky Footer Fix */
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Desktop navigation links */
.nav-link {
  position: relative;
  color: white;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: #f3f4f6;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* Mobile menu links */
.mobile-link {
  display: block;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.mobile-link:hover {
  background-color: #e5e7eb;
  border-radius: 5px;
}
